@inherits Saphyre_InputBase<DateTime?>
@using System.Linq.Expressions
@using System.Reflection
@using MudBlazor
@using FluentValidation
@using SaphyreDemo.Helpers

<div class="saphyre_datebox position-absolute">
    <MudDatePicker Date="@Value"
                   DateChanged="@((DateTime? date) => OnInputValueChanged(date))"
                   Class="@CSSClass"
                   For="@FieldExpression"
                   Disabled="@IsDisabled"
                   ReadOnly="@IsReadOnly"
                   Required="@IsValidation"
                   DateFormat="dd-MMM-yyyy"
                   Label="@LabelText" />
</div>

@code{

}