@inherits Saphyre_InputBase<DateTime>
@using System.Linq.Expressions
@using System.Reflection
@using MudBlazor

<div class="saphyre_datebox position-absolute">

	<MudDatePicker @bind-Value="InputValue"
				   Class="@CSSClass"
				   Disabled="@IsDisabled"
				   ReadOnly="@IsReadOnly"
				   Required="true"
				   RequiredError="HELLO"
				   DateFormat="dd-MMM-yyyy"
				   Label="@LabelText"
				   Placeholder="" />

	@if (IsValidation)
	{
		<ValidationMessage For="@FieldExpression" />
	}

</div>


