@inherits Saphyre_InputBase<string>
@using System.Linq.Expressions
@using System.Reflection
@using MudBlazor

<div class="saphyre_textbox position-absolute">

	<MudTextField @bind-Value="InputValue"
				  Class="@CSSClass"
				  Disabled="@IsDisabled"
				  ReadOnly="@IsReadOnly"
				  Label="@LabelText"
				  Placeholder="" />

	@if (IsValidation)
	{
		<ValidationMessage For="@FieldExpression" />
	}

</div>


@code {

}

