@inherits Saphyre_InputBase<DateTime>
@using System.Linq.Expressions
@using System.Reflection
@using MudBlazor
@using FluentValidation
@using SaphyreDemo.Helpers

<div class="saphyre_datebox position-absolute">

	<MudDatePicker Date="@InputValue"
				   DateChanged="OnDateChanged"
				   Class="@CSSClass"
				   Disabled="@IsDisabled"
				   ReadOnly="@IsReadOnly"
				   DateFormat="dd-MMM-yyyy"
				   Label="@LabelText"
				   Placeholder="" />

		@if (IsValidation)
	{
	<ValidationMessage For="@FieldExpression" />
	}

</div>

@code{
	FluentValueValidator<DateTime> dateBoxValidator = new FluentValueValidator<DateTime>(x =>
	x.Must(date => date > DateTime.MinValue || date > DateTime.UtcNow).WithMessage("Date is invalid."));

	private void OnDateChanged(DateTime? date){
		InputValue = date.Value;
		OnInputValueChanged(InputValue);
	}
}

