@typeparam T
@inherits Saphyre_InputBase<T>
@using System.Linq.Expressions
@using System.Reflection
@using MudBlazor

<div class="saphyre_numbox">

	<MudNumericField @bind-Value="@InputValue"
					 Required="true"
					 Class=""
					 Format="@Format"
					 HideSpinButtons="true"
					 Label="@LabelText"
					 Adornment="@Adornment"
					 AdornmentColor="Color.Dark"
					 AdornmentIcon="@AdornmentIcon"
					 Placeholder="" />

	@if (IsValidation)
	{
		<ValidationMessage For="() => InputValue" />
	}

</div>


@code {
	[Parameter]
	public bool IsPercentage { get; set; }

	private string Format => IsPercentage ? "N2" : "N2";
	private Adornment Adornment => IsPercentage ? Adornment.End : Adornment.None;
	private string AdornmentIcon => IsPercentage ? Icons.Material.Filled.Percent : string.Empty;

}
