@inherits Saphyre_InputBase<string>
@using System.Linq.Expressions
@using System.Reflection
@using FluentValidation
@using MudBlazor
@using SaphyreDemo.Helpers

<div class="saphyre_textbox position-absolute">

	<MudTextField Value="@InputValue"
				  ValueChanged="@((string x) => OnInputValueChanged(x))"
				  For="@FieldExpression"
				  Class="@CSSClass"
				  Disabled="@IsDisabled"
				  ReadOnly="@IsReadOnly"
				  Required="@IsValidation"
				  Label="@LabelText"
				  Placeholder="" />

</div>


