@typeparam T
@inherits Saphyre_InputBase<decimal>
@using System.Linq.Expressions
@using System.Reflection
@using MudBlazor
@using FluentValidation
@using SaphyreDemo.Helpers

<div class="saphyre_numbox position-absolute">

	<MudNumericField Value="@InputValue"
					 ValueChanged="@((decimal x) => OnInputValueChanged(x))"
					 Class="@CSSClass"
					 Disabled="@IsDisabled"
					 For="@FieldExpression"
					 ReadOnly="@IsReadOnly"
					 Required="@IsValidation"
					 Immediate="true"
					 Format="@Format"
					 Label="@LabelText"
					 HideSpinButtons="true"
					 Adornment="@Adornment"
					 AdornmentColor="Color.Dark"
					 AdornmentIcon="@AdornmentIcon"
					 Placeholder="" />

</div>


@code {
	[Parameter]
	public bool IsPercentage { get; set; }

	private string Format => IsPercentage ? "N2" : "N2";
	private Adornment Adornment => IsPercentage ? Adornment.End : Adornment.None;
	private string AdornmentIcon => IsPercentage ? Icons.Material.Filled.Percent : string.Empty;

	FluentValueValidator<decimal> numBoxValidator = new FluentValueValidator<decimal>(x =>
		x.GreaterThan(0));
}
